// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

$light-gray: #F4F4F4;
$dark-gray: #272727;

$flashy-green: #40FA43;
$flashy-pink: #FFA8FF;
$flashy-yellow: #E0FA41;
$flashy-purple: #7B7BFF;
