.alert {
  position: fixed;
  top: 80px;
  right: 10px;
  z-index: 11000;
  animation: fade-out 2s forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
