.avatar {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  height: 40px;
}

#avatar-size {
  .p-1 .d-flex {
    align-items: center;
  }

  h2 {
    font-weight: 600;
    color: black;
    margin: 0.5rem;
    margin-left: 1rem;
  }

  h3 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem
  }
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}

.avatar-circle {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.avatar-notif {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-top: 3px;
}
