.ta-classe-form{
  display: inline;

}
.ta-classe-css{
  margin-left: 10px;
  border-radius: 10px;
  border: 2px solid #80fc82;
  padding: 8px;
  background-color: transparent;
  color: white;
  transition: 0.4s ease-in-out;
}
.ta-classe-css:hover{
  background-color: #333;
}
