.logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title-sign-in {
  line-height: 1;
  text-align: center;
  font-weight: 700;
}

.page-title {
  margin-top: 30px;
  margin-bottom: 50px;

  h1 {
    font-size: 85px;
    font-weight: 600;
    line-height: 80px;
    margin-left: 10px;

    .icon-logo {
      font-size: 60px;
      margin-left: 20px;
    }
  }

  h2 {
    font-size: 45px;
    font-weight: 600;
    line-height: 55px;

    .icon-logo {
      font-size: 40px;
      margin-left: 20px;
    }
  }
}
