.top-bar {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

  .fa-solid {
    font-weight: 900;
    width: 32px;
    height: 28px;
  }

  .rounded-circle {
    border: solid 2px $flashy-green;
  }

  .p {
    margin-bottom: 0px !important;
  }

  .cpt-notif {
    top: 40px !important;
    font-size: 12px;
  }

  .cpt-notif-animate {
    animation: 0.3s ease-in-out scale-animation;
  }

  @keyframes scale-animation {
    0% {
      scale: 1;
    }

    50% {
      scale: 1.8;
    }

    100% {
      scale: 1;
    }
  }

  .menu-notif {
    overflow: scroll;
    max-height: 140px;
    width: 290px !important;
  }

  .notif {
    font-size: 0.8em;
    line-height: 18px;
  }

  .full-notif {
    height: 38px;
  }

  button.account {
    border: none;
    background: transparent !important;
  }

  .account .icon-menu-bar {
    color: white !important;
  }
}

.notif-followed {
  border-radius: 8px;
}
